/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  font-family: 'Formula1'
}

:root {
  --site-header-height: 90px;
  --speed-default: .25s;
}

@font-face {
  font-family: 'Formula1';
  src: url("../fonts/Formula1-Bold_web_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
# Website
--------------------------------------------------------------*/

body {
  font-family: 'Formula1';
  color: #f0f0f0;
  background-color: #1e2329;
  cursor: default;
}

a {
  text-decoration: none;
  color: #e10600;
}

.title {
  color: white;
}

a:hover {
  color: rgb(148, 20, 73);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Formula1';
}

code {
  background-color: #181818 !important;
  color: #2775eb !important;
  padding: .25em;
  border-radius: .4em;
}

tbody {
  border-top: 4px solid #373b3e !important;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgb(247, 203, 29);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  border-radius: 0px 0px 5px 5px rgb(44, 43, 40);
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(148, 20, 73);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
  # Custom Scrollbar
  --------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #14141e;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09090e;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  background: #14141e;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 4px #101018;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Formula1';
  cursor: pointer;
}

#header .logo a {
  color: #ffffff;
}

#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Formula1';
  font-size: 15px;
  font-weight: 600;
  color: #f0f0f0;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar,
.navbar li:hover>a {
  color: #e10600;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(247, 29, 120);
  box-shadow: 0px 0px 30px rgb(158, 32, 84);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #252525;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #f0f0f0;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333333dc;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #252525;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #f0f0f0;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #2775eb;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #252525;
  box-shadow: 0px 0px 0px;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #2775eb;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  /*background: #1a2027;*/
}

.backgroundvid {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 125%;
  border: 0;
  vertical-align: bottom;
  overflow: hidden;
}

#hero .container {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #2775eb;
  text-transform: uppercase;
}

#hero h2 {
  color: #f0f0f0;
  margin: 10px 0 0 0;
  font-size: 20px;
}

.hero-background-top .hero-background-top__video::before {
  background-image: linear-gradient(rgba(8, 22, 27, .8), rgba(8, 22, 27, 0), rgba(8, 22, 27, .6), #08161b);
  background-size: cover;
  bottom: -5%;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
}

.hero-background-top .hero-background-top__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.hero-background-top .hero-background-top__video::after {
  opacity: .5;
  background-color: #e10600;
  top: 0;
  z-index: -1;
  transition: var(--speed-default) ease-out;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
}

.hero-background-top .hero-background-top__video img {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.hero-background-bottom {
  width: 100%;
  min-height: 790px;
  margin-top: -440px;
  padding-top: 205px;
  padding-bottom: 455px;
  background-image: url("../img/waves_orange.svg");
  background-size: auto 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.hero-background-bottom:after {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(20, 20, 30, 0), #1e2329);
  content: "";
  position: absolute;
  bottom: 0;
}

.hero-background-bottom h1 {
  text-align: center;
  top: 1000px;
  font-size: 70px;
  letter-spacing: 4px;
}

.btn-get-started {
  font-family: 'Formula1';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 8px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: rgb(247, 29, 120);
  text-transform: uppercase;
  box-shadow: 0px 4px rgb(165, 15, 78);
}

.btn-get-started:hover {
  background: rgb(165, 15, 78);
  color: #f0f0f0;
}

.btn-get-started2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 8px;
  transition: 0.5s;
  margin-top: 25px;
  color: #fff;
  background: #2775eb;
  text-transform: uppercase;
  box-shadow: 0px 2px 15px #0d3f8a;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-get-started2:hover {
  background: #0a3677;
  color: #f0f0f0;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
  # CONTACT FORMULIER
--------------------------------------------------------------*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e10600;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 6px 0px #720603;
}

input[type=submit]:hover {
  background-color: #720603;
}

/*--------------------------------------------------------------
  # MIJN DGP ACCOUNT PAGE
  --------------------------------------------------------------*/
.hero .hero-image img {
  width: 100%;
  height: 700px;
  position: relative;
}

.hero .hero-image .overdgp::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 760px;
  background: linear-gradient(166deg,#f5821e,#e10600);
  mix-blend-mode: multiply;
}

.hero .hero-image .image-text {
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -100%);
  font-size: 80px;
}

.hero .hero-image .image-text2 {
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -80%);
  font-size: 80px;
}

.mydgp .mydgp-text {
  text-align: center;
  font-size: large;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f4fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #2775eb;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
.counts {
  /* background-image: url("../img/invitebackground2.png"); */
  padding: 80px 0 60px 0;
  position: relative;
}

.counts::before {
  content: "";
  position: absolute;
  /* background: #1e2329; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.counts .button {
  background-color: #e10600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 6px 0px #720603;
}

.counts .button:hover {
  top: -2px;
  background-color: #720603;
}

.counts .title {
  position: relative;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  width: 50%;
  float: left;
}

.counts .title p {
  color: #f0f0f0;
  font-weight: 10;
}

.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}

.counts .counters span {
  font-size: 44px;
  font-weight: 700;
  display: block;
  color: #2775eb;
  font-family: 'Formula1';
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #f0f0f0;
}

@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}

.racebaan {
  vertical-align: top !important;
}

.counts img {
  width: 600px;
  margin-left: 100px;
  border: 5px solid #e10600;
  border-radius: 5px;
}

.counts .circuit-video {
  border: 5px solid #e10600;
  border-radius: 5px;
  margin-left: 100px;
}

/*--------------------------------------------------------------
  # ONTDEK HET CIRCUIT
  --------------------------------------------------------------*/
.circuit-container {
  display: flex;
  align-items: center;
  justify-content: center
}
  
#plaatje {
  flex-basis: 40%;
  margin-right: 120px;
}

#plaatje .circuit-video {
  max-width: 100%;
  border: 5px solid #e10600;
  border-radius: 5px;
}

#tekst {
  height: 10%;
  width: 50%;
  padding-left: 55px;
  color: white;
}

.circuit-button {
  background-color: #e10600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 6px 0px #720603;
  text-transform: uppercase;
}

.circuit-button:hover {
  top: -2px;
  background-color: #720603;
  text-transform: uppercase;
}

.circuit .circuit-plaatje {
  width: 600px;
  border: 5px solid #e10600;
}

/*--------------------------------------------------------------
  MY DGP ACCOUNT
  --------------------------------------------------------------*/
.login #logincontainer {
  background-color: #3c4146;
  margin: auto;
  width: 90%;
  padding: 30px;
}

.login #logincontainer h1 p {
  margin-top: 5px;
}

.login .button {
  background-color: #e10600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 19px 2px;
  float: right;
  cursor: pointer;
  box-shadow: 0px 6px 0px #720603;
}

.login .button:hover {
  top: -2px;
  background-color: #720603;
}

.login #logincontainer .logintekst {
  display: inline-block;
}

/*--------------------------------------------------------------
  SPONSORS
  --------------------------------------------------------------*/
.sponsors .sponsors-container img {
  filter: brightness(0) invert(1);
  height: 50px;
  padding: 0;
}

.sponsors .sponsors-container {
  justify-content: center;
  align-items: baseline;
  margin: auto;
  border: none;
  padding: 0;
  background: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
.services {
  /*background-color: #1e2329;*/
  background-image: url("../img/featuresheader.png");
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #2b2b2b;
  box-shadow: 0px 0px 4px 4px #0d3f8a;
  transition: all 0.3s ease-in-out;
  height: 10em;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 5px 10px #0d3f8a;
}

.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #2775eb;
}

.services .icon-box:hover .title a {
  color: #2775eb;
}

.services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
.team {
  background-color: #252525;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #2b2b2b;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #2775eb;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background-color: #2775eb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #092e66;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #f0f0f0;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #f0f0f0;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
  # Gallery
  --------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f0f9fd;
  margin-top: 84px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 74px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: 'Formula1';
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #175977;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #e9e9e9;
  font-size: 14px;
  background: #12161b;
}

.footerhr {
  display: block;
  height: 2px;
  width: 45px;
  margin-bottom: 10px;
  color: #e10600;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #12161b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Formula1';
  color: #e9e9e9;
}

#footer .footer-top .footer-contact img {
  height: 50%;
  width: 100%;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #e10600;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul a i {
  position: relative;
  top: .15em;
  color: #444444;
  transition: 0.3s;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
}

#footer .footer-top .footer-links ul a:hover,
#footer .footer-top .footer-links ul a:hover i {
  text-decoration: none;
  color: rgb(46, 43, 43);
}

#footer .copyright {
  float: left;
  color: #e9e9e9;
}

#footer .credits {
  float: right;
  font-size: 13px;
  color: #e9e9e9;
}

@media (max-width: 575px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}

.cta {
  background: url("../img/cta-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
}

.cta::before {
  content: "";
  position: absolute;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background: #1e2329;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cta .title {
  position: relative;
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.cta .title p {
  color: #f0f0f0;
}

.cta .title h1 {
  font-size: 50px;
  font-weight: bolder;
}

.cta .counters span {
  font-size: 44px;
  font-weight: 700;
  display: block;
  color: rgb(247, 29, 120);
  font-family: 'Formula1';
}

.cta .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #f0f0f0;
}

.WoodMusic {
  color: rgb(247, 29, 120);
  font-weight: 700;
}

@media (min-width: 1200px) {
  .cta {
    background-attachment: fixed;
  }
}


/* Zig Zag Layout */
@keyframes hover {
  0% {
    top: 0px;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
}

.content-container {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #1e2329;
  text-align: center;
}

.product-row {
  padding: 120px 0 0;
  height: 60vh;
  -webkit-box-align: center;
  align-items: center;
}

#feature1 {
  border: 5px solid #181818;
  box-shadow: 5px 5px #181818;
}

#feature2 {
  border: 5px solid #181818;
  box-shadow: 5px 5px #181818;
}

#feature3 {
  border: 5px solid #181818;
  box-shadow: 5px 5px #181818;
}

#feature4 {
  border: 5px solid #181818;
  box-shadow: 5px 5px #181818;
}

.viewfeatures {
  color: #fff;
}

.viewfeatures:hover {
  color: rgb(46, 43, 43);
}

.product-row .product-image {
  width: 70%;
  margin: 0 auto;
  animation: goUpandDown 5s ease-in-out infinite;
}

/* .product-row .product-image:hover {
    transform: scale(1.1);
  } */

@keyframes goUpandDown {
  0% {
    -webkit-transform: translatey(+60px);
    transform: translatey(+60px);
  }

  50% {
    -webkit-transform: translatey(+80px);
    transform: translatey(+80px);
  }

  100% {
    -webkit-transform: translatey(+60px);
    transform: translatey(+60px);
  }
}


.product-row .product-text {

  background: transparent;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.product-row .product-title {
  font-size: 2em;
  color: #ffffff;
  font-weight: 700;
}

.product-row p {
  line-height: 1.5;
  font-size: 1.2em;
}

.product-row {
  margin: 1em 0;
}

.product-row::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.product-row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

@media only screen and (min-width: 800px) {

  .product-row:nth-child(odd) .product-image {
    padding-left: 5%;
    padding-right: 0;
  }

  .product-row {
    display: -webkit-box;
    display: flex;
    margin-bottom: 0;
    min-height: 380px;
    -webkit-box-align: center;
    align-items: center;
  }

  .product-row .product-image {
    width: 55%;
    float: left;
    -webkit-box-flex: 1;
    flex: 1 1 55%;
    padding-right: 5%;
    max-width: 55% !important;
    min-width: 320px;
  }

  .product-row .product-text {
    position: relative;
    width: 45%;
    text-align: left;
    float: right;
    -webkit-box-flex: 1;
    flex: 1 1 45%;
    max-width: 45%;
  }

  .product-row .product-text {
    margin-right: 1em;
  }
}